<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsaap Chats</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Chats Details</h2>

    <a href="http://localhost:3000/newchat">Create Msg</a>
    <br><br>

    
        <% for(chat of chats){ %>
        <div class="chats">
            <p>from: <i><%= chat.from %></i></p>
            <div class="msg">
            <P>msg:<%= chat.msg %></P>
            </div>
            <p>Recived by: <i><%= chat.to %></i></p>
            <hr/>
            <form method="GET"  action="/edit/<%=chat._id %>">
                <button>Edit Msg</button>
            </form>
            <form method="POST" action="/deletechat/<%=chat._id %>?_method=DELETE">
                <button>Delete</button>
            </form>
            
        </div>
        <br> <br>
            
        <%}%>
</body>
</html>

